.taskWrapper {
  transition: all 1s ease;
}

.taskWrapper:hover {
  transform: rotateX(180deg);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 5px 0;
  transition: all 1s ease;
}

.task:hover {
  transform: rotateX(-180deg);
}

.deleteTask {
  cursor: pointer;
}

.deadlineInput {
  max-height: 16px;
  outline: none;
  color: #000;
  font-size: 16px;
  padding: 0;
  margin-left: 10px;
}
