.task {
  min-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  color: #000;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: grab;
  transition: background 0.3s ease;
}

.block {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.completed input {
  cursor: pointer;
}

.deleteTask {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.preloader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
