.header {
  position: fixed;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1300px) {
  .header {
    position: unset;
    height: unset;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  margin-bottom: 20px;
}

.title span:nth-child(1) {
  font-size: 20px;
}

.list {
  display: flex;
  flex-direction: column;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.todo a {
  text-decoration: none;
  width: 90%;
}

.todoTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  max-width: 80%;
}

.deleteTodo {
  cursor: pointer;
}

.createNewTodoList {
  display: flex;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 30px;
}

.createNewTodoList button {
  display: flex;
  align-items: center;
  padding: 0;
}

.createNewTodoList button span {
  padding-left: 5px;
}

.createNewTodoList form {
  flex: 1;
}

.formTitle {
  width: 100%;
  outline: none;
  border-bottom: 1px solid #000;
  padding: 0;
  padding-bottom: 5px;
}

.logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10%;
}

.logout button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  /* background-color: rgba(255, 0, 0, 0.1); */
  cursor: pointer;
}

.logout svg {
  fill: red;
}
