.App {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #e3e9ee;
  min-height: 100vh;
}

.preloader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .App {
    overflow-x: hidden;
  }
}
